#top {
    font-family: 'Spirax';
    background-color: #66340be3;
    color: white;
    border-color: #300101e3;
    border-bottom-width: 5px;
}

#description {
    font-family: 'Patrick Hand';
    font-size: 30px;
    line-height: 100px;
    color: white
}

#results {
    font-family: 'Space Mono';
    font-size: 22px;
}

#form-title {
    font-family: 'Sniglet';
    color: white
}

body {
    background-color: #a1754cf8;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
