@import url('https://fonts.googleapis.com/css?family=Courgette|Patrick+Hand|Space+Mono|Spirax|Sniglet');

#top {
    font-family: 'Spirax';
    background-color: #660b0be3;
    color: white;
    border-color: #300101e3;
    border-bottom-width: 5px;
}

#description {
    font-family: 'Patrick Hand';
    font-size: 30px;
    line-height: 100px;
}

#results {
    font-family: 'Space Mono';
    font-size: 22px;
}

body {
    display: table;
    background: silver;
    position: absolute;
    height: 100%;
    width: 100%;
}

#button-icons {
    padding-right: 10px;
}