@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Courgette|Patrick+Hand|Space+Mono|Spirax|Sniglet|Nunito");
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: 'Nunito';
    font-size: 16px;
    display: table;
    background: #e4e3e3;
    position: absolute;
    height: 100%;
    width: 100%;
}
#top {
    font-family: 'Spirax';
    background-color: #660b0be3;
    color: white;
    border-color: #300101e3;
    border-bottom-width: 5px;
}

#description {
    font-size: 1rem;
    font-family: 'Courgette';
    color: black;
    /*line-height: 100px;*/
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 0.25em solid #300101e3;
    padding-left: 1em;
    vertical-align: top;
    background: tan;
}

#results {
    font-family: 'Space Mono';
    font-size: 22px;
}


@media only screen and (max-width: 700px) {
    body {
        background-color: paleturquoise;
    }

    #description {
        font-size: 1rem;
        color: black;
    }
}

#button-icons {
    padding-right: 10px;
    vertical-align: bottom;
}
